{% extends "layout.html" %}

{% block content %}

<div id="sidebar">

</div>

<div id="content">

    <!--------------------->
    <!-- PATIENT CONTENT -->
    <!--------------------->
    {% if session["role"] == 1 %}

    <!-- FORM -->
    <h3 class="mb-4 mt-5">Fix an appointment :</h3>
    <form action="/book" method="POST">
        <div class="form-group">
            <select class="form-select form-select-lg mb-3" name="doctor_id">
                <option selected>Select a doctor</option>
                {% for doctor in doctors %}
                <option value="{{ doctor.id }}">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <textarea name="cause" placeholder="What's the matter ?"></textarea>
        </div>
        <div class="form-group">
            <input type="datetime-local" name="datetime">
        </div>
        <div class="form-group">
            <input type="hidden" value="{{ logged_user_id }}" name="logged_user_id">
            <button class="btn btn-secondary" type="submit">Book</button>
        </div>
    </form>

    <!-- APPOINTMENTS -->
    <div class="m-3">
        <h3>Upcoming appointments :</h3>
        {% if appointments|length == 0 %}
        <p>You have no appointment to come.</p>
        {% else %}
        {% for appointment in appointments %}
        {% if appointment.user_id == logged_user_id %}
        {% if now < appointment.appointment_time %} <div class="card m-3">
            <div class="card-body">
                <p>{{ appointment.appointment_time | date }}</p>
                <p>{{ appointment.firstName }} {{ appointment.lastName }}, {{ appointment.specialization }}</p>
            </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {%endif%}
</div>


<div class="m-3">
    <h3>Past appointments :</h3>
    {% for appointment in appointments %}
    {% if appointment.user_id == logged_user_id %}
    {% if now > appointment.appointment_time %}
    <div class="card m-3">
        <div class="card-body">
            <p>{{ appointment.appointment_time | date }}</p>
            <p>{{ appointment.firstName }} {{ appointment.lastName }}, {{ appointment.specialization }}</p>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<!-------------------->
<!-- DOCTOR CONTENT -->
<!-------------------->
{% elif session["role"] == 2 %}

<!-- APPOINTMENTS -->
<div class="mt-5">

    <h3>Upcoming appointments :</h3>
    {% if appointments|length == 0 %}
    <p>You have no appointment to come.</p>
    {% else %}
    {% for appointment in appointments %}
    {% if appointment.doc_id == logged_user_id %}
    {% if now < appointment.appointment_time %} <div class="card m-3">
        <div class="card-body">
            <p>Patient : {{ appointment.firstName }} {{ appointment.lastName }}</p>
            <p>Cause : {{ appointment.cause }}</p>
            <p>{{ appointment.appointment_time | date }}</p>
        </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
</div>

{% endif %}

</div>

{% endblock %}