{% extends "layout.html" %}

{% block content %}

<div id="sidebar">

</div>

<div id="content">

    {% if session["role"] == 1 %}

    <h3 class="mb-4 mt-5">Fix an appointment :</h3>
    <form action="/book" method="POST">
        <div class="form-group">
            <select class="form-select form-select-lg mb-3" name="doctor_id">
                <option selected>Select a doctor</option>
                {% for doctor in doctors %}
                <option value="{{ doctor.id }}">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <textarea name="cause" placeholder="What's the matter ?"></textarea>
        </div>
        <div class="form-group">
            <input type="datetime-local" name="datetime">
        </div>
        <div class="form-group">
            <input type="hidden" value="{{ logged_user_id }}" name="logged_user_id">
            <button class="btn btn-secondary" type="submit">Book</button>
        </div>

    </form>
    <h3>Upcoming appointments :</h3>
    {% for appointment in appointments %}
    <div>
        <p>{{ appointment.appointment_time }}</p>
        <p>{{ appointment.firstName }} {{ appointment.lastName }}, {{ appointment.specialization }}</p>
    </div>
    {% endfor %}

    {% elif session["role"] == 2 %}

    <h3>Upcoming appointments :</h3>
    {% for appointment in appointments %}
    <div>
        <p>{{ appointment.appointment_time }}</p>
        <p>{{ appointment.firstName }} {{ appointment.lastName }}</p>
        <p>{{ appointment.cause }}</p>
    </div>
    
    {% endfor %}

    {% endif %}


</div>

{% endblock %}