{% extends "layout.html" %}

{% block content %}
<h2 class="mt-5 mb-5">Health Center Registration</h2>
<form action="/validation" method="POST">
<fieldset>
    <div class=form-group>
        <input type="text" name="lastname" placeholder="Last name">
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class=form-group>
        <input type="tel" name="tel" placeholder="Your phone number">
        <input type="email" name="email" placeholder="Your email address">
    </div>
    <div class="form-group">
        <input type="text" name="address" placeholder="Your address">
    </div>
    <div>
        <input type="password" name="pwd1" placeholder="Choose a password">
        <input type="password" name="pwd2" placeholder="Confirm password">
    </div>
    <button class="btn btn-success mt-3" type="submit">Register</button>

</fieldset>
</form>
{% endblock %}